/data20250214/**
/preprocessed/**
/__pycache__/**

# Python-specific ignores
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.so
.Python
*.egg-info/
.installed.cfg
*.egg

# IDE files
.idea/
.vscode/
*.swp
*.swo
